.clear{
  &:after {
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.mint-toast-text {
  font-size: 32px!important;
}
.mint-indicator-wrapper {
  background-color: transparent;
}
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}

